<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户登录</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div id="content">
        <div class="login">
            <div>
                <input type="text" name="username" placeholder="请输入用户名"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="请输入密码"/>
            </div>
            <div>
                <input type="submit" value="登录"/>
            </div>
        </div>
    </div>
</body>
</html>