<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.springboot.dao.secondary.SecondaryUserMapper">
    <resultMap id="beanMap" type="com.kevin.springboot.domain.User">
        <result column="username" property="username"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="email" property="email"/>
        <result column="mobile_no" property="mobileNo"/>
    </resultMap>

    <sql id="baseColumnList">
        username, email, mobile_no
    </sql>

    <insert id="insert" parameterType="com.kevin.springboot.domain.User">
        INSERT INTO user(username, user_pwd, email, mobile_no) VALUES (#{username}, #{userPwd}, #{email}, #{mobileNo})
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM user WHERE id=#{id}
    </delete>

    <update id="update" parameterType="com.kevin.springboot.domain.User">
        UPDATE user SET username=#{username} AND user_pwd=#{userPwd} AND email=#{email} AND mobile_no=#{mobileNo}
    </update>

    <select id="select" parameterType="long" resultMap="beanMap">
        SELECT * FROM user where id=#{id}
    </select>

    <delete id="deleteByIds" parameterType="string">
        DELETE from user WHERE id IN
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="verify" parameterType="map" resultMap="beanMap">
        SELECT * FROM user WHERE username=#{username} AND user_pwd=#{userPwd}
    </select>

    <select id="listAll" resultMap="beanMap">
        SELECT * from user
    </select>
</mapper>

