<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log.path" value="D:/logs" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
    </root>

    <!--<logger name="com.kevin.springboot.controller"/>-->
    <!--<logger name="com.kevin.springboot.controller.LoggingController" level="WARN" additivity="false">-->
        <!--<appender-ref ref="console"/>-->
    <!--</logger>-->

    <!-- 测试环境+开发环境，用逗号分隔-->
    <springProfile name="test,dev">
        <logger name="com.kevin.springboot.controller" level="INFO"/>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="prod">
        <logger name="com.kevin.springboot.controller" level="WARN"/>
    </springProfile>
</configuration>
